In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# For Function

In [3]:
print(*list(range(1, 100)))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [4]:
A = 0
for i in range(1, 100):  # Corrected 'range'
    if i % 3 == 0 or i % 5 ==0:
        print(i) # Checking if divisible by both 3 and 5
        A += i
print(A)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
2318

In [5]:
def add(a, b):
    return a + b

# Example usage:
result = add(5, 3)
print(result)  # Output: 8

8

In [6]:
def greet(Name):
    return ("Happy birthday" + Name)
print(greet(' Mao '))

Happy birthday Mao

In [7]:
def greet (name):
    return ("Hi" + name + "Happy Birthday to you")
print(greet( ' Ge Mao ' ))

Hi Ge Mao Happy Birthday to you

In [8]:
def Wish(Name):
    return ("Good Morning"+ Name)
print(Wish(" Atika "))

Good Morning Atika

In [9]:
def add(a, b):
    return a+b
result=add(3,5)
print(result)

8

In [10]:
def add(a, b):
    return (a+b)**2
result= add(5,3)
print(result)

64

In [11]:
def sum_of_numbers(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total

# Example usage:
print(sum_of_numbers(5))  # Output: 15 (1 + 2 + 3 + 4 + 5)

15

In [12]:
def sum_of_numbers(n):
    total=0
    for i in range(1, n+1):
        total+=i
    return total

In [13]:
print(sum_of_numbers(5))

15

In [14]:
def sum_of_numbers(n):
    total=0
    for i in range(1,n+1):
        total+=i
    return total

In [15]:
print(sum_of_numbers(10))

55

In [16]:
def Number_series(n):
    N=0
    for i in range (1,n*1):
        N+=i
    return N

In [17]:
print(Number_series(10))

45

In [18]:
def is_even(numbers):
    if numbers % 2 == 0:
        return True
    else:
        return False

In [19]:
print(is_even(8))

True

In [20]:
def is_even(numbers):
    if numbers % 2 ==0:
        return True
    else:
        return False

In [21]:
print(is_even(10))

True

In [22]:
def rectangle_properties(length, width):
    area = length * width
    perimeter = 2 * (length + width)
    return area, perimeter

# Example usage:
area, perimeter = rectangle_properties(5, 3)
print(f"Area: {area}, Perimeter: {perimeter}")
# Output: Area: 15, Perimeter: 16

Area: 15, Perimeter: 16

In [23]:
def rectangle_properties(length, width):
    area= length * width
    perimeter= 2*(length*width)
    return area, perimeter

In [24]:
area, perimeter=rectangle_properties(5,3)
print(f"Area: {area }, Perimeter : {perimeter}")

Area: 15, Perimeter : 30

In [25]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Example usage:
print(factorial(5))  # Output: 120 (5 * 4 * 3 * 2 * 1)

120

In [26]:
def square_function():
    return lambda x: x * x

# Example usage:
square = square_function()
print(square(4))  # Output: 16

16

# For Loops

In [28]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [29]:
for i in range(5):
    print(i)

0
1
2
3
4

In [30]:
total = 0
for i in range(1, 11):
    total += i
print("Sum:", total)

Sum: 55

In [31]:
for i in range(1, 15):
    if i % 2 == 0:
       print(f"{i} is even")

2 is even
4 is even
6 is even
8 is even
10 is even
12 is even
14 is even

In [32]:
person = {'name': 'Alice', 'age': 30, 'city': 'New York'}
for key, value in person.items():
    print(f"{key}: {value}")

name: Alice
age: 30
city: New York

In [33]:
for i in range(1, 11):
    if i == 5:
        break  # Exit the loop when i is 5
    if i % 2 == 0:
        continue  # Skip even numbers
    print(i)

1
3

In [34]:
for i in range(1, 4):
    for j in range(1, 4):
        print(f"{i} * {j} = {i * j}")
    print()    
     # Newline after each row

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

In [35]:
squares = [x * x for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

In [36]:
word = "Python"
for l in word:
    
    print(l)

P
y
t
h
o
n

In [37]:
for i in range(1, 4):
    print(i)
    
else:
    print("Loop finished")

1
2
3
Loop finished

# While Loop

In [39]:
i=1
while i<=8:
    print(i)
    i +=1

1
2
3
4
5
6
7
8

In [40]:
i=1
while True:
    print(i)
    if i==5:
        break
    i+=1

1
2
3
4
5

In [41]:
i=1
while True:
    print(i)
    if i==7:
        break
    i +=1

1
2
3
4
5
6
7

In [42]:
i = 0
while i < 10:
    i += 1
    if i % 2 == 0:
        continue  # Skip even numbers
    print(i)

1
3
5
7
9